/out
/build
*.iml
*.ipr
*.iws
.idea/*
!.idea/runConfigurations
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles
**/.gradle
**/build/**
.project
*.log
*log.lck
**/out/
**/target/**
**/.classpath
**/.settings
**/classes
